@tailwind base;
@tailwind components;
@tailwind utilities;

.miltonian-tattoo-regular {
    font-family: "Miltonian Tattoo", serif;
    font-weight: 400;
    font-style: normal;
    /* background-image: linear-gradient(to right, red, blue); */
    
  background: -webkit-linear-gradient(315deg, #ac81eb 0%, #6870f7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  }
  
  .pridi-regular {
    font-family: "Pridi", serif;
    font-weight: 100;
    font-style: light;
  }
  
  body{
    background-image: linear-gradient(to right, #e2e7f6, #f6f0e7);
  }
  .sirin-stencil-regular {
    font-family: "Sirin Stencil", sans-serif;
    font-weight: 500;
    font-style:normal;
  }
  
  .gupter-regular {
    font-family: "Gupter", serif;
    font-weight: 400;
    font-style: normal;
  }
  .baloo-chettan-2 {
    font-family: "Baloo Chettan 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  
  
  .gupter-medium {
    font-family: "Gupter", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .gupter-bold {
    font-family: "Gupter", serif;
    font-weight: 700;
    font-style: normal;
  }
  